:root {
	--color-main: #022873;
	--color-light: #46658C;
	--color-accent: #FB5569;
	--color-bkg: #F2E1D8;
	--color-index: 0;
}

::selection {
	color: var(--color-bkg);
	background: var(--color-main);
}

body { 
	background: var(--color-bkg);
	color:var(--color-main);
}

div {
	animation-duration: 1s;
	animation-name: appear;
}

#header {
	flex-grow: 1;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

#header a {
	color:var(--color-main);
	text-decoration: none;
}

#header a:hover {
	color:var(--color-main);
	text-decoration: none;
}

#navbar {
	font-family: 'Roboto', sans-serif;
}

#navbar a {
	color:var(--color-main);
	text-decoration: none;
}
#navbar a:hover {
	color:var(--color-accent);
	transition: 0.3s;
}

#navbar li .active{
	color:var(--color-accent);
}

#navbar li{
	padding-bottom: 0.3rem;
}

#navbar ul {
	list-style-type: none;
	font-weight: bold;
	margin:0;
}

#darkmode {
	transition: transform .7s ease-in-out;
  }
#darkmode:hover {
transform: rotate(360deg);
}

#main {
	display:flex;
}

#contentList li {
    padding-left: 1.5em;
	text-indent:-1.5em;
	padding-bottom: 1em;
	line-height: 1.5em;
}

.gray {
	color:var(--color-light);
}


#contentList a {
	color:var(--color-main);
	text-decoration: none;
}

#contentList .main{
	color:var(--color-main)
}


#contentList a:hover {
	color:var(--color-accent);
	text-decoration-color: var(--color-light);
	text-decoration-thickness: 0.1rem;
	transition: color 0.3s;
}

#content {
	font-family: 'Montserrat', sans-serif;
}


#content ul {
	list-style-type: none;
}

#darkmode {
	width: 1em;
	color: var(--color-main);
	transition: transform .7s ease-in-out;
  }
  #darkmode:hover {
	transform: rotate(360deg);
  }

img.rounded {
	border-radius: 30px;
}

#photo_profile {
	/* width: 25vw; */
	/* margin: 0; */
}

#photo_profile img{
	width: 25vw;
}

.flex-container {
    display: flex;
	width: 70vw;
}

.flex-child:first-child {
	text-align: center;
	flex:0 0 25vw;
    margin-right: 2vw;
} 
.flex-child:nth-child(2) {
	flex: 0 0 43vw;
} 


@media (max-width: 576px) { 
	#main {
		flex-direction: column;
	}
	#header {
		text-align:center;
		margin-top:6vw;
		margin-bottom:6vw;
		font-size:8vw;
	}
	
	#navbar {
		flex-grow:1;
	}
	
	#navbar ul {
		font-size: 5vw;
		padding-left:0;
	}
	#navbar li {
		text-align: center;
	}

	#content {
		padding-top:5vw;
		font-size:0.8em;
	}
	#content ul{
		padding-left: 5vw;
	}
	.gray {
		font-size:0.75em;
	}

	
	.flex-container{
		flex-direction: column;
	}

	#photo_profile img{
		width: 60vw;
	}
	.flex-child:first-child{
		width: 85vw;
		margin-left: 5vw;
		padding-top: 2vw;
	}
	.flex-child:nth-child(2) {
		width: 85vw;
		margin-left: 5vw;
	} 
	
}


@media (max-width: 768px) and (min-width:576px) { 
	#main {
		flex-direction: column;
	}
	#header {
		text-align:center;
		margin-top:6vw;
		margin-bottom:6vw;
		font-size:6vw;
	}
	
	#navbar {
		flex-grow:1;
	}
	
	#navbar ul {
		font-size: 3vw;
		padding-left:0;
	}
	#navbar li {
		text-align: center;
	}	

	.flex-container{
		flex-direction: column;
	}

	#photo_profile img{
		width: 60vw;
	}
	.flex-child:first-child{
		width: 85vw;
		margin-left: 5vw;
		text-align: center;
		padding-top: 5vw;
	}
	.flex-child:nth-child(2) {
		width: 85vw;
		margin-left: 5vw;
	} 
	
}

@media (min-width: 768px) { 
	#header {
		margin-top:3vw;
		margin-bottom:3vw;
		margin-left:5vw;
		text-align:left;
		font-size:4.5vw;
	}
	
	#navbar {
		margin-left:5vw;
		margin-right:0;
		flex:0 0 15vw;
	}
	#navbar ul {
		font-size: 2.5vw;
		padding-left: 0;

	}
	#content {
		padding-left: 2.5vw;
		flex:0 0 70vw;
		padding-top:0vw;
		padding-right:0.5vw;
		font-size:1em;
	}
	.gray {
		font-size:0.85em;
	}

	#content ul {
		margin-top:0;
		padding-left: 0;
	}
}

@keyframes appear {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }