body { 
	background:#FFFFFF;
	color:#0083C2;
}

#header {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#header a {
	color:#0083C2;
}

#header a:hover {
	color:#0083C2;
	text-decoration-color: #FFFFFF;
}

div {
	animation-duration: 1s;
	animation-name: appear;
}

#navbar a {
	color:#0083C2;
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
	text-decoration-thickness: 0.3rem;
}

#navbar a:hover {
	color:#0083C2;
	text-decoration: underline;
	text-decoration-color: #FF5440;
	transition: text-decoration 1s ease;
}

#navbar ul {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0;
}

#navbar ul .active{
	text-decoration: underline;
	text-decoration-color: #FF5440;
}

#navbar ul .inactive{
	text-decoration: underline;
	text-decoration-color: #FFFFFF;
}

#pub li {
    padding-left: 1.5em;
	text-indent:-1.5em;
}

#pub a {
	color:#0083C2;
}

#pub a:hover {
	color:#61A3C2;
	text-decoration-color: #61A3C2;
	text-decoration-thickness: 0.1rem;
}

#content {
	font-family: 'Montserrat', sans-serif;
}

#content ul {
	list-style-type: none;
}

#content ul li{
	padding-top: 1%;
}

.indent{
	padding-left: 1.5em;
}

@media (max-width: 576px) { 
	#header {
		text-align:center;
		margin-top:6vw;
		margin-bottom:6vw;
		font-size:8vw;
	}
	
	#navbar ul {
		font-size: 5vw;
		padding-left:0;
	}
	#navbar li {
		text-align: center;
	}

	#content {
		padding-left:5%;
		padding-left:5%;
		padding-top:6vw;
	}
}


@media (min-width: 576px) { 
	#header {
		margin-top:2vw;
		margin-bottom:2vw;
		margin-left:5vw;
		text-align:left;
		font-size:4.5vw;
	}
	#navbar {
		margin-left:1vw;
		margin-right:0;
	}
	#navbar ul {
		font-size: 2.5vw;
	}
	#content {
		padding-left: 0;
	}
	#content ul {
		padding-left: 0;
	}
}

@keyframes appear {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }