:root {
	--color-main: #022873;
	--color-light: #46658C;
	--color-accent: #FB5569;
	--color-bkg: #F2E1D8;
  }
body { 
	background: var(--color-bkg);
	color:var(--color-main);
}

div {
	animation-duration: 1s;
	animation-name: appear;
}

#header {
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
}

#header a {
	color:var(--color-main);
	text-decoration: none;
}

#header a:hover {
	color:var(--color-main);
	text-decoration: none;
}


#header {
	flex-grow: 1;
}


#navbar a {
	color:var(--color-main);
	text-decoration: none;
}
#navbar a:hover {
	color:var(--color-main);
	text-decoration: underline;
	text-decoration-color: var(--color-accent);
	text-decoration-thickness: 0.1em;
}

#navbar li .active{
	color:var(--color-main);
	text-decoration: underline;
	text-decoration-color: var(--color-accent);
	text-decoration-thickness: 0.1em;
}


#navbar ul {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 0;
}

#main {
	display:flex;
}


#contentList li {
    padding-left: 1.5em;
	text-indent:-1.5em;
}

#contentList a {
	color:var(--color-main);
}

#contentList a:hover {
	color:#46658C;
	text-decoration-color: var(--color-light);
	text-decoration-thickness: 0.1rem;
}

#content {
	font-family: 'Montserrat', sans-serif;
}

#content ul {
	padding-left:0;
}

#content ul {
	list-style-type: none;
}

#content ul li{
	padding-top: 1%;
}

@media (max-width: 768px) { 
	#main {
		flex-direction: column;
	}
	#header {
		text-align:center;
		margin-top:6vw;
		margin-bottom:6vw;
		font-size:8vw;
	}
	
	#navbar {
		flex-grow:1;
	}
	
	#navbar ul {
		font-size: 5vw;
		padding-left:0;
	}
	#navbar li {
		text-align: center;
	}

	#content {
		padding-top:5vw;
		margin-left: 10%;
		margin-right: 10%;
	}
	
}


@media (min-width: 768px) { 
	#header {
		margin-top:2vw;
		margin-bottom:2vw;
		margin-left:5vw;
		text-align:left;
		font-size:4.5vw;
	}
	
	#navbar {
		margin-left:5vw;
		margin-right:0;
		flex:0 0 20vw;
	}
	#navbar ul {
		font-size: 2.5vw;
		padding-left: 0;

	}
	#content {
		padding-left: 2.5vw;
		flex:0 0 80vw;
		padding-top:0vw;
	}
	#content ul {
		margin-top:0;
		padding-left: 0;
	}
}

@keyframes appear {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }