.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align:center;
  }
  
  /* The slider itself */
  .slider {
    width: 30%; /* Full-width */
    height: 25px; /* Specified height */
  }
  
#svgDiv {
  padding-left: 0;
  margin-left: 0;
}

svg {
  display: block;
  margin: auto;
}


@media (min-width: 768px) { 
}