* {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #FFFFFF;
}

.centermiddle {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-weight: bold;
	font-size: 80px;
}

.z1 {
	z-index: 1;	
	background-color: rgba(255,255,255,0);
	position: relative;
	top: -100vh;
	pointer-events: none;
	  position: relative;
	  top: 50%;
	  transform: translateY(-60%);
}

.z0 {
	z-index: 0;
}

#frontbox {
	position: relative;
}

.left {
	background-color : #000000;
}

.right {
	background-color : #333333;
}

.actualCont {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#contLeft {
}

#contRight {
}

#navLeft {
	display: table-cell;
}

#navs

#navRight {
	padding-left:0;
	float:right;
}


h1 {
	text-align: center;
	vertical-align: middle;
	font-weight: xx-large;
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
  position: relative;
  min-height: 1px;
}

.col-xs-0 {
 float: left; width: 0;
 }

@media (min-width: 768px) {
  .col-sm-0 {
 float: left; width: 0;
 }
}

@media (min-width: 992px) {
  .col-md-0 {
 float: left; width: 0;
 }
}

@media (min-width: 1200px) {
  .col-lg-0 {
 float: left; width: 0;
 }
}

.row-fluid {
    overflow:hidden;
    margin-right: -15px;
    margin-left: -15px;
}

.row-fluid div {
    -webkit-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    -moz-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    -o-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
}

.h100 {
	height: 100vh;
}

.h70 div {
	hegith: 70vh;
}

.h100 div {
    height: 100vh;
}
.pad0 {
    padding-left: 0;
    padding-right: 0;
}
nav a {
    display: block;
	color: #FFFFFF;
	font-weight: bold;
	font-size: xx-large;
}
nav a:hover {
    display: block;
	color: #FFFFFF;
	font-weight: bold;
	font-size: xx-large;
}
nav a i {
	font-weight: normal;
	font-size: 42px;
}

.active {
    text-decoration: underline;
}

#navRight a {
	text-align: right;
}

#navLeft a {
	text-align: left;
}

nav {

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.w30 {
	width: 100%;
	margin-top: 4vh;
}

.grey {
	opacity: 1;
    filter: grayscale(100%);
    border-radius: 100%;
}

.grey:hover {
	opacity: 1;
    filter: grayscale(0%);
}
.gallery{
	padding-top: 8vh;
}

#myImg {
	cursor: pointer;
	transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}